<%- include('../includes/head.ejs')%>
    </head>

    <body>
        <%- include('../includes/nav.ejs')%>
            <main>
                <% if (prods.length> 0){%>
                    <div class="grid">
                        <% for (let product of prods){%>
                            <artical class="card product-item">
                                <header class="card__header">
                                    <h1 class="product_title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card_image">
                                    <img src="<%=product.imageUrl%>" alt="<%= product.title %>">
                                </div>
                                <div class="card_content">
                                    <h2 class="product_price">$<%= product.price %>
                                    </h2>
                                    <p class="product_descprition">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card_action">
                                    <% if(isAuthenticated){%>
                                        <form action="/cart" method="post">
                                            <button class="btn" type="submit">Add to cart</button>
                                            <input type="hidden" name="_csrf" id="" value="<%= csrfToken %>">
                                            <input type="hidden" name="productId" value="<%= product._id %>">
                                        </form>
                                        <%}%>
                                </div>
                            </artical>
                            <%}%>
                    </div>
                    
                    <section class="pagenation">
                        <%if(currentPage !==1 && previousPage !==1){%>
                            <a href="?page=1">1</a>
                            <%}%>
                                <% if(hasPreviousPage){%>
                                    <a href="?page=<%= previousPage%>" class="active">
                                        <%= previousPage%>
                                    </a>
                                    <%}%>
                                        <a href="?page=<%= currentPage%>" class="active">
                                            <%= currentPage%>
                                        </a>

                                        <% if(hasNextPage){%>
                                            <a href="?page=<%= nextPage%>" class="active">
                                                <%= nextPage%>
                                            </a>
                                            <%}%>
                                                <% if(lastPage !==currentPage && nextPage !==lastPage){%>
                                                    <a href="?page=<%= lastPage%>" class="active">
                                                        <%= lastPage%>
                                                    </a>
                                                    <%}%>   
                                                        <!-- <a href="/?page=2">2</a> -->
                                                        <!-- <a href="/?page=3">3</a> -->
                    </section>
                    <% } else{%>
                        <h1>No Product</h1>
                        <p>List of all the Product...</p>
                        <% }%>
            </main>
            <%- include('../includes/end.ejs')%>